.full-screen-input {
  height: stretch !important;
  border: none !important;
  text-align: -webkit-center !important;
  font-size: 2.5rem !important;
  color: rgba(0,0,0,0.7);
}

input[type=text].full-screen-input:focus:not([readonly]) {
  border: none;
  box-shadow: none;
}

.full-screen-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  white-space: pre-wrap;
  line-height: 2.8rem;
}
.full-screen-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  white-space: pre-wrap;
  line-height: 2.8rem;
}
.full-screen-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  white-space: pre-wrap;
  line-height: 2.8rem;
}
.full-screen-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  white-space: pre-wrap;
  line-height: 2.8rem;
}
.full-screen-input::-ms-input-placeholder { /* Microsoft Edge */
  white-space: pre-wrap;
  line-height: 2.8rem;
}

@media screen and (max-width: 375px) {
  .full-screen-input {
    font-size: 1.4rem !important;
  }
}

@media screen and (max-width: 425px) {
  .full-screen-input {
    font-size: 1.9rem !important;
  }
}

